
@media all and (max-width:1024px) {
    /* common */
    
    /* header menu */
    .y_Top ul,.y_move ul {justify-content: space-around;}

    /* section_01 */
    #section_01 .main_deco > div {font-size:17rem;}

    /* section_02 */
    #section_02 .page_tit {width:80%; z-index:5;}
    #section_02 .page_tit span {font-size:2.8rem;}
}