@media all and (max-width:320px) {
    /* common */
    .go_home svg {font-size:2rem;}

    /* header */
    .main_header ul li svg {font-size:2rem;}

    /* section_01 */
    #section_01 .main_deco {margin-top:3rem;}
    #section_01 .main_deco > div {font-size:4.5rem;}

    /* section_02 */

    /* section_03 */
    

    /* section_04 */
    #section_04 .cont_box .page_copyright {line-height: 1.6rem;}
    
}