@media all and (max-width:420px) {
    /* common */
    .go_home, .go_home .progress {height: 5rem;}
    .go_home a {padding: 1rem;}

    /* header */
    .main_header ul li {margin: 0 auto;}
    .main_header ul li svg {font-size:2rem;}

    /* section_01 */
    #section_01 {padding-top:5rem;}
    #section_01 .main_deco {margin-top:5rem;}
    #section_01 .main_deco > div {font-size:6.5rem;}

    /* section_02 */
    #section_02::after {display:none;}
    #section_02 .page_tit {flex-direction: column;}
    #section_02 .cont_box .img_box {width:0;}
    #section_02 .cont_box .txt_box.intro {padding-top:17rem; margin-left:0;}
    #section_02 .cont_box .txt_box.intro .sub_tit {width:100%; padding:0; text-align:center;}
    #section_02 .cont_box .txt_box.intro ul:last-child {margin-left:0;}
    #section_02 .cont_box .txt_box.intro ul:last-child li {margin-left:0 !important;}

    /* section_03 */
    #section_03 .cont_box .web_work li {flex-basis:calc(100%/3);}

    /* section_04 */
    #section_04 .link_list ul li {flex-basis: 40%;}
    #section_04 .link_list ul li a {height:10rem;}
    #section_04 .link_list ul .send_mail a .svg_box,#section_04 .link_list ul .send_mail a:hover .svg_box {background-size: 6.5rem 6.5rem;}
    #section_04 .link_list ul li a svg {width: 6.5rem; height: 6.5rem;}
    #section_04 .cont_box .page_copyright {font-size:2.3rem; word-break: keep-all;}

    /* portfoliio_info */
    .portfolio_info .con2 .page_tit {font-size:2.7rem; word-break:keep-all;}
    .portfolio_info .cont_1 .sub_tit {font-size:2rem; word-break: keep-all;}
    .portfolio_info .cont_1 .sub_txt p {font-size:1.5rem; line-height: 2rem;}
    .portfolio_info .cont_1 .sub_txt ul li {font-size:1.3rem; word-break:keep-all;}
    .portfolio_info .cont_2 .txt_box .percent li {font-size:1.4rem; line-height:1.5; word-break:keep-all;}
    .portfolio_info .link_box .target_move a {font-size:1.4rem;}

    /* reserve */
    .reserve .cont_box ul li {font-size:1.5rem; line-height: 1.4;}
    .reserve .cont_2 .sub_txt ul li span {font-weight:900; line-height: 1.2rem;}
    .reserve .cont_2 .sub_txt ul li .img_box img {width: 100%;}
    
    
}