@media all and (max-width:550px) {
    /* common */
    .mobile_none {display:none;}

    /* header */
    .y_Top ul, .y_move ul {height:4rem;}
    .main_header ul li span {font-size:1.5rem;}

    /* section_01 */

    /* section_02 */
    #section_02 {height:100%;}
    #section_02 .cont_box .txt_box.intro .sub_tit {margin-top:2rem; margin-bottom:1rem;}

    /* section_03 */
    #section_03 {height:100%;}

    /* section_04 */
    #section_04 .contect_me_form form .contect_header {flex-wrap:wrap;}
    #section_04 .contect_me_form form .contect_header > div {flex-basis:100%;}
    #section_04 .link_list,#section_04 .contect_me_form {flex-basis:100%;}
}