@media all and (max-width:786px) {
    /* common */
    #main_page .sc_tit {font-size:2.4rem; padding:1rem;}

    /* header */
    .main_header ul li span {font-size:1.5rem;}

    /* section_01 */
    #section_01 .main_deco {margin-top:0; align-items:flex-start;}
    #section_01 .main_deco > div {font-size:8rem;}

    /* section_02 */
    #section_02::after {width:10rem; left:10%;}
    #section_02 .page_tit {width: 80%; flex-direction: unset;}
    #section_02 .page_tit span {margin-right:0.5rem; font-size:1.8rem;}
    #section_02 .page_tit span div {font-size:2rem;}
    #section_02 .page_tit > span:not(:first-child) {margin-top:0;}
    #section_02 .cont_box .img_box {width: 15%;}
    #section_02 .cont_box .txt_box {padding-top:12rem; margin-left:12%;}
    #section_02 .cont_box .txt_box.intro .sub_tit {margin-top:3rem; padding-bottom:1.2rem; font-size:2rem;}
    #section_02 .cont_box .txt_box.intro ul li {font-size:1.4rem; line-height:1.9rem;}
    #section_02 .cont_box .txt_box.intro ul:first-child .res_li_txt {display: inline; margin-right:0.8rem;}
    #section_02 .cont_box .txt_box.intro ul:last-child li {margin-bottom:1rem; flex-wrap: wrap; line-height:2rem;}
    #section_02 .cont_box .txt_box.intro ul:last-child li span {flex-basis: 100%;}

    /* content_03 */
    #section_03 {padding-top:6rem; height:auto;}
    #section_03 .cont_box .sc_tit {margin-bottom:2rem; font-size:2.7rem; font-weight:800;}
    #section_03 .cont_box .web_work li {display:flex; justify-content:center; flex-basis:calc(100%/4); height:16.5rem;}
    #section_03 .cont_box .web_work li .link_txt,
    #section_03 .cont_box .web_work li .link_txt span {font-size:1.2rem;}
    #section_03 .cont_box .web_work li .link_btn {position:relative; width:8rem; height:100%; border-radius:1rem; background: url('../img/mockup_mo.png'); background-size: cover; overflow: hidden;}
    #section_03 .cont_box .web_work li .link_btn.reserve::after {background: url('../img/reserve/reserve_main_mo.gif'); background-size: cover; height: 75%; top:14%;}
    #section_03 .cont_box .web_work li .link_btn.clean::after {background:url('../img/clean/clean_main_mo.png'); background-size:cover; height:100%; top:14%;}
    #section_03 .cont_box .web_work li .link_btn.acrc::after {background:url('../img/acrc/acrc_main_mo.gif'); background-size:cover; height:100%; top:14%;}
    #section_03 .cont_box .web_work li .link_btn.acrc_child::after {background:url('../img/child/acrc_child_main_mo.png'); background-size:cover; height:100%; top:14%;}

    /* content_04 */
    #section_04 .link_list ul li a {height: 8rem;}
    #section_04 .link_list ul li a::after {display: none;}
    #section_04 .cont_box .sc_tit {font-size:2.7rem; font-weight:800;}
    #section_04 .cont_box .sub_tit {margin-top:3rem; margin-bottom:2rem; font-size:1.4rem;}
    #section_04 .cont_box .txt_box ul li.pc_view {display:none;}

    /* portfolii_info */
    .portfolio_info .link_box .target_move {flex-basis:100%;}
    .portfolio_info .link_box .target_move a {display:flex; justify-content:center; flex-basis:100%; font-size:1.6rem;}
    .portfolio_info .cont_1 .sub_txt ul li {word-break: keep-all; line-height: 1.5;}
    .portfolio_info .cont_2 > .img_box {margin-bottom:5rem;}
    .portfolio_info .img_box .img_list {display: flex; flex-wrap:wrap;}
    .portfolio_info .img_box .img_list li {flex-basis:100%;}
    .portfolio_info .img_box .img_list li .mo_img_btn {display:flex; justify-content:space-between; align-items:center; height:3rem; padding:0 1rem; margin:0.5rem 0; border:0.1rem solid #dddddd; border-radius: 0.3rem; font-size:1.4rem;}
    .portfolio_info .img_box .img_list li .mo_img_btn span {font-size:1.4rem;}
    .portfolio_info .img_box .img_list li .mo_img_btn svg {font-size:1.7rem;}
    .portfolio_info .img_box .img_list li .img_box.hide {height: 0;}
    .portfolio_info .img_box .img_list li .img_box.show {height: auto;}
    

    /* resume */
    .resume_section {max-width:80%; margin:0 auto;}
    .resume_section * {word-break: keep-all;}

    /* reserve */
    .reserve .use_colors {justify-content:space-around;}
    .reserve .use_colors > div {width: 6rem; height: 6rem; margin-top:3rem;}

    .reserve .cont_2 .img_box .sub_txt {display: flex; flex-wrap:wrap; justify-content: center;}
    .reserve .cont_box.cont_2 ul li,.reserve .cont_box.cont_3 ul:not(.use_colors) li {display: inline; margin-right:0.8rem;}
}

@media all and (max-width:768px) {
    /* common */
    .section {overflow-x: hidden;}

    /* section_02 */
    #section_02 {overflow-y: hidden;}
    #section_02::after {width:25rem; left:25%;}
    #section_02 .cont_box .img_box {width:39%;}
    #section_02 .cont_box .txt_box.intro {margin-left:25%; padding-top:15rem;}
    #section_02 .page_tit {width:75%;}
    #section_02 .page_tit span {font-size: 2.3rem;}
    #section_02 .page_tit span div {font-size:2.5rem;}

    #section_02 .cont_box .txt_box.intro ul:first-child {margin-left:-2rem;}
    #section_02 .cont_box .txt_box.intro ul:first-child li {line-height: 2rem;}
    #section_02 .cont_box .txt_box.intro ul li {font-size:1.8rem;}
    #section_02 .cont_box .txt_box.intro ul:last-child {margin-left:10%;}
    #section_02 .cont_box .txt_box.intro ul:last-child li:first-child {margin-left:-14%;}
    #section_02 .cont_box .txt_box.intro ul:last-child li:nth-child(2) {margin-left:-12.5%;}
    #section_02 .cont_box .txt_box.intro ul:last-child li:nth-child(3) {margin-left:-11%;}
    #section_02 .cont_box .txt_box.intro ul:last-child li:nth-child(4) {margin-left:-10%;}
    #section_02 .cont_box .txt_box.intro ul:last-child li:nth-child(5) {margin-left:-8.5%;}
    #section_02 .cont_box .txt_box.intro ul:last-child li:nth-child(6) {margin-left:-7%;}
    #section_02 .cont_box .txt_box.intro ul:last-child li:last-child {margin-left:-5%;}

    /* section_03 */
    #section_03 {min-height: 80vh;}
    #section_03 .cont_box .web_work li {flex-basis:calc(100%/3);}
    #section_03 .cont_box .web_work li .link_btn {width: 10rem; height: 18.5rem;}
    #section_03 .cont_box .web_work li .link_btn.reserve::after {top:13%; left:4%}
    #section_03 .cont_box .web_work li .link_txt {position: inherit;}
    #section_03 .cont_box .web_work li .link_txt, #section_03 .cont_box .web_work li .link_txt span {font-size:1.7rem;}
    

    /* section_04 */
    #section_04 .link_list ul .send_mail a .svg_box,
    #section_04 .link_list ul .send_mail a:hover .svg_box {background-size:5rem 5rem;}
    #section_04 .link_list ul li a svg {width: 5rem; height: 5rem;}

}

@media all and (max-width:717px) and (max-height:512px) {
    /* common */
    .section {max-width: 100%;}

    /* section_02 */
    #section_02 {height:100%;}
    #section_02 .cont_box .img_box {width:32%;}
    #section_02 .page_tit {right:4%;}
    #section_02::after {left:25%; width:20rem; transform:rotate(-7deg) translateY(-5rem);}
    #section_02 .cont_box .txt_box.intro {padding-top:15rem; margin-left:25%;}
    #section_02 .cont_box .txt_box.intro ul:last-child li:nth-child(5) {margin-left:-6%;}
    #section_02 .cont_box .txt_box.intro ul:last-child li:nth-child(6) {margin-left: -5%;}

    /* section_04 */
    #section_04 .link_list ul .send_mail a .svg_box {background-size: 4.5rem 4.5rem;}
    #section_04 .link_list ul li a svg {width: 4.5rem; height: 4.5rem;}

    /* reserve */
    .reserve .cont_box ul li {line-height: 1.4;}
    .reserve .cont_3 .sub_txt ul:not(.use_colors) li .color_box {width: 1.4rem; height:1.4rem; letter-spacing: -0.1rem;}
}