#main_page {background:#222222; color:#ffffff;}
.section {height:100vh;}
.con {max-width:140rem; margin:0 auto;}
/* Header */
.main_header {width:100vw;}
.main_header ul {height:8rem;}
.main_header ul li {padding:1.5rem 2rem; margin-right:2rem;}
.main_header ul li span {font-size:1.7rem;}

/* section_01 */
#section_01 {padding-top:8rem;}
#section_01 .main_deco > div {font-size:28rem;}

/* section_02 */
#section_02 .cont_box {justify-content:space-between;}
#section_02 .cont_box .img_box img {width:40rem;}
#section_02 .cont_box .txt_box.intro {display:flex; flex-direction: column; justify-content:flex-start; align-items: flex-start;}
#section_02 .cont_box .txt_box.intro .sub_tit {font-size:2.5rem; padding-bottom:1.5rem;}
#section_02 .cont_box .txt_box.intro ul {text-align: left;}
#section_02 .cont_box .txt_box.intro ul li {font-size:1.7rem; line-height:2.2;}