@import url('../font/pretendard.css');
@import url('../font/ArchivoBlack.css');
#main_page {background:#222222; color:#ffffff; overflow-y: hidden;}
#main_page * {font-family: 'pretendard';}
#main_page .sc_tit {font-size:3.5rem; padding:1.5rem 0;}
.section {position:relative; height:100vh; background:#222222; z-index:6;}
.con {max-width:140rem; margin:0 auto;}

/* Header */
/* .main_header {width:100vw; mix-blend-mode: difference; z-index: 10;} */
.main_header {width:100vw; z-index: 10;}
.main_header ul {height:8rem;}
.main_header ul li {padding:1.5rem 2rem; margin-right:2rem; }
.main_header ul li span {font-size:1.7rem; cursor:pointer;}
.main_header .section_progress {height: 0.5rem; background:#eeeeee;}

/* section_01 */
#section_01 {padding-top:8rem; position: relative;}
#section_01 .sc_01_bg {width:0; height:100%; top:0; left:0; background:#ffffff;}
#section_01 .main_deco > div {font-size:20rem; font-family:'ArchivoBlack'; color:transparent; text-shadow:1px 0.1rem #ffffff, 0 0.1rem #ffffff, -0.1rem -0.1rem #ffffff, -0.1rem 0 #ffffff; mix-blend-mode: difference; cursor:default;}


/* section_02 */
#section_02 {z-index:3;}
#section_02::after {content:''; position:absolute; width:20rem; height: calc(100% + 10rem); top:0; left:25%; background:#222222; z-index: 5; transform:rotate(-10deg) translateY(-5rem);}
#section_02 .cont_box {justify-content:space-between;}
#section_02 .cont_box .sc_tit {flex-basis:100%;}
#section_02 .cont_box .img_box {width:30%; height:100%; top:0; left:0; z-index: 4; background:url('../img/profil.JPG'); background-size:cover;}
#section_02 .cont_box .img_box img {width:40rem;}
#section_02 .cont_box .txt_box {margin-left:30%;}
#section_02 .cont_box .txt_box.intro {display:flex; flex-direction: column; justify-content:flex-start; align-items: flex-start;}
#section_02 .cont_box .txt_box.intro .sub_tit {font-size:2.5rem; padding-bottom:1.5rem;}
#section_02 .cont_box .txt_box.intro ul {text-align: left;}
#section_02 .cont_box .txt_box.intro ul li {font-size:1.7rem; line-height:2.2;}

/* section_03 */
#section_03 {padding-top:8rem;}
#section_03 .cont_box .sc_tit {flex-basis:100%;}
#section_03 .cont_box .web_work {max-width: 60%; margin:0 auto;}
#section_03 .cont_box .web_work li {flex-basis:30%;}

/* section_04 */
#section_04 .contect_me_form form {display:flex; flex-wrap: wrap;}
#section_04 .contect_me_form form input[name="email"] {flex-basis:100%; font-size: 1.6rem; padding:0.5rem 1rem;}
#section_04 .contect_me_form form input[name="email"]::placeholder {color:#666666; font-family:'NotoKr'; font-weight: 700;}
#section_04 .contect_me_form form textarea {flex-basis: 100%; height:15em; font-size:1.6rem; padding:0.5rem 1rem; resize:none;}

/* footer */
.main_footer {position:relative; height:auto; background:#222222; border-top:0.1rem solid #eeeeee;}
.main_footer .copyright {font-size:1.3rem; font-family:'NotoKr' !important; font-weight: 300;}

/* portfolio_info */
.con .page_tit {margin-bottom:2rem; padding-top:5rem; font-size:3.5rem; font-weight:600;}
.portfolio_info .con .cont_2 .txt_box ul {flex-wrap:wrap;}
.portfolio_info .con .cont_2 .txt_box ul li:not('.target_move') {flex-basis:100%;}
.portfolio_info .con .cont_2 .txt_box ul {flex-wrap:wrap;}
.portfolio_info .link_box {display:flex; margin:1rem 0;}
.portfolio_info .link_box .target_move {padding:1rem; background:#dddddd; border:0.1rem solid #dddddd; border-radius:0.5rem; font-weight: 900;}
.portfolio_info .link_box .target_move a {color:#222222;}
/* clean */
/* .clean {background: rgb(0,95,202); background: linear-gradient(0deg, rgba(0,95,202,1) 35%, rgba(97,182,247,1) 66%, rgba(0,212,255,1) 100%); font-family: 'Pretendard'; letter-spacing: -1px;} */
.clean {background: rgb(170,170,170); background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(102,102,102,1) 28%, rgba(34,34,34,1) 100%); font-family: 'Pretendard'; letter-spacing: -1px;}
.clean * {color:#eeeeee;}
.clean .cont_1 .sub_tit {margin-bottom:1rem; font-size:2rem;}
.clean .cont_1 .sub_txt {line-height: 1.5;}
.clean .cont_2 {margin-top:2rem;}
.clean .cont_2 .img_box img {width:45%; border:0.1rem solid #dddddd;}

/* acrc */
/* .acrc {background: rgb(0,95,202); background: linear-gradient(0deg, rgba(0,95,202,1) 35%, rgba(97,182,247,1) 66%, rgba(0,212,255,1) 100%); font-family: 'Pretendard'; letter-spacing: -1px;}
.acrc .cont_1 .sub_tit {margin-bottom:1rem; font-size:2rem;} */
.acrc {background: rgb(170,170,170); background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(102,102,102,1) 28%, rgba(34,34,34,1) 100%); font-family: 'Pretendard'; letter-spacing: -1px;}
.acrc * {color:#eeeeee;}
.acrc .cont_1 .sub_txt {line-height: 1.5;}

/* reserve */
.reserve {background:#222222;}
.reserve * {color:#dddddd;}