@import url('../../../../../../resource/font/NotoSansCJKkr.css');
@import url('../../../../../../resource/font/XEIcon/xeicon.css');

/* common */
.knw_section {position:relative; max-width: 1200px; margin:0 auto;}
.knw_section * {font-family: 'NotoKr'; font-weight: 500; color:#333333;}
.knw_section .knw_dots {position:relative;}
.knw_section .knw_dots::after {content:''; position: absolute; width:3px; height:3px; top:40%; left:0; background:#999999;}
.knw_section .knw_main_board_list {padding:7.5px 15px 7.5px 20px; border-top:1px solid #dddddd;}
.knw_section .knw_main_board_list li {margin:7.5px 0;}
.knw_section .knw_main_board_list li a {display: flex; width:100%; justify-content:space-between;}
.knw_section .knw_main_board_list li .tit {width:85%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; font-size:14px; color:#333333; text-indent: 9px;}
.knw_section .knw_main_board_list li .reg_dt {font-size:14px; color:#999999;}
.knw_section .knw_main_board_list li a:hover .tit,
.knw_section .knw_main_board_list li a:hover .reg_dt {font-weight: 600;}

.knw_section .icon_box .like i {color:#3ca2ae;}
.knw_section .icon_box .cmt i {color:#0064a2;}
.knw_section .icon_box .select i {color:#d9582b;}

.knw_section .exceldown_btn {display:flex; justify-content:center; align-items:center; flex-basis:110px; height:36px; border:1px solid #dddddd; font-size:14px; cursor:pointer;}
.knw_section .exceldown_btn i {font-size:18px; color:#b7b7b7;}
.knw_section .list_check_box > input[type="checkbox"] {}

.knw_section .list_btn_box {margin-bottom:20px;}
.knw_section .list_btn_box .create_btn {display:flex; justify-content:center; align-items:center; width:80px; height:36px; border:1px solid #dddddd; background:#f8f8f8; font-size:14px;}
.knw_section .list_btn_box .slt_dt_btn, .knw_section .list_btn_box .all_move_btn {display:flex; justify-content:center; align-items:center; width:80px; height:36px; border:1px solid #dddddd; background:#ffffff; font-size:14px; cursor:pointer;}
.knw_section .list_btn_box .move_btn {display:flex; justify-content:center; align-items:center; width:60px; height:36px; margin:0 10px; border:1px solid #dddddd; background:#ffffff; font-size:14px; cursor:pointer;}
.knw_section .list_btn_box .slt_dt_btn i, .knw_section .list_btn_box .all_move_btn i, .knw_section .list_btn_box .move_btn i {font-size:16px; color:#999999;}

.knw_section .paging {margin-bottom: 30px;}
.knw_section .paging div,.knw_section .paging ul li span {display:flex; justify-content:center; align-items:center; width:30px; height:30px; border:1px solid #dddddd; font-size:14px; cursor: pointer;}
.knw_section .paging div i {font-size:18px;}
.knw_section .paging .first_page, .knw_section .paging .last_page {letter-spacing: -15px;}
.knw_section .paging .first_page i {transform:translateX(-7px);}
.knw_section .paging .last_page i {transform:translateX(-7px);}
.knw_section .paging ul .current_page span {border:1px solid #0064a2; background:#0064a2; color:#ffffff;}

.knw_section .knw_bullet {position:relative; padding-left:12px;}
.knw_section .knw_bullet::before {content:''; position: absolute; width:4px; height:8px; left:0; top:50%; background:#0064a2;}
.knw_section .knw_bullet::after {content:''; position: absolute; width:4px; height:8px; left:0; bottom:50%; background:#b7b7b7;}

.knw_section  .list_file i {font-size:14px; color:#999999; transform:rotate(45deg);}

.knw_section .knw_create_btn_box .create_btn {display:flex; justify-content: center; align-items: center; width:80px; height:40px; border:1px solid #dddddd; background:#f8f8f8;}
/* header */
.knw_section .header {height:60px; padding:0 20px; background:#2d8fd5;}
.knw_section .header ul li span {font-size:18px; color:#ffffff;}
.knw_section .header .logo {margin-right:125px;}
.knw_section .header .menu_box {flex-grow:1;}
.knw_section .header .menu_box li a {display:flex; align-items:center;height: 60px;}
.knw_section .header .menu_box li span {position:relative;}
.knw_section .header .menu_box li span::before {content:''; position:absolute; width:0%; height: 4px;; left:50%; top:140%; background:#ffffff; transition: width 0.3s;}
.knw_section .header .menu_box li span::after {content:''; position:absolute; width:0%; height: 4px; right:50%; top:140%; background: #ffffff; transition: width 0.3s;}
.knw_section .header .menu_box li:hover span::before,
.knw_section .header .menu_box li:hover span::after {width:50%;}
.knw_section .header .prtl_main {margin-left:60px;}
.knw_section .header .prtl_main li a span {width: 120px; height:30px; border-radius:20px; background:#ffffff; font-size:14px; color:#333333;}
.knw_section .header .prtl_main li a span i {font-size:14px; color:#2d8fd5;}

/* main */
    /* section_1 */
.knw_section .body_section .section_1 {margin-top:20px;}
.knw_section .body_section .section_1 > div {flex-basis:590px; height:50px;}
.knw_section .body_section .section_1 .knw_search .search_box {flex-basis:100%;}
.knw_section .body_section .section_1 .knw_search .search {flex-basis:496px; height:50px; align-self:center; border:2px dotted #cdcdcd;}
.knw_section .body_section .section_1 .knw_search .search label[for="Knw_Search"] {position:relative; flex-basis:95px; font-size:16px; font-weight: 600; text-align: center;;}
.knw_section .body_section .section_1 .knw_search .search label[for="Knw_Search"]::after {content:''; position:absolute; width:1px; height:16px; background:#999999; top:20%; right:0;}
.knw_section .body_section .section_1 .knw_search .search input {flex-basis:330px; width:330px; padding:0 20px; border:none; outline: none; font-size:16px;}
.knw_section .body_section .section_1 .knw_search .search input::placeholder {font-size:13px; color:#999999;}
.knw_section .body_section .section_1 .knw_search .search button {padding:0 20px;}
.knw_section .body_section .section_1 .knw_search .search button i {font-size:20px; color:#0064a2;}
.knw_section .body_section .section_1 .knw_search .search_box .ex_search {flex-basis:85px; height:50px; background:#0064a2; cursor:pointer;}
.knw_section .body_section .section_1 .knw_search .search_box .ex_search span {font-size:14px; color:#ffffff;}
.knw_section .body_section .section_1 .rol_slide {border:2px dotted #cdcdcd;}
.knw_section .body_section .section_1 .rol_slide > ul {width:540px; height: 48px;}
.knw_section .body_section .section_1 .rol_slide ul li a {width:100%; height: 48px; line-height:48px; padding:0 20px;}
.knw_section .body_section .section_1 .rol_slide ul li a > div {display: inline-block;}
.knw_section .body_section .section_1 .rol_slide ul li a > .tit {width:80%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.knw_section .body_section .section_1 .rol_slide ul li a > .tit,
.knw_section .body_section .section_1 .rol_slide ul li a > .tit span {font-size:14px;}
.knw_section .body_section .section_1 .rol_slide ul li a > .tit i {width:28px; height:28px; margin-right:20px; border-radius:100%; background:#0064a2; font-size:14px; line-height:28px; color:#ffffff; text-align:center;}
.knw_section .body_section .section_1 .rol_slide ul li a > .reg_dt {font-size:14px; color:#999999; vertical-align: top;}
.knw_section .body_section .section_1 .rol_slide .rol_slide_btn {flex-basis:48px; border-left:1px solid #dddddd;}
.knw_section .body_section .section_1 .rol_slide .rol_prev_btn::before {content:'\e945'; position:absolute; font-family: 'xeicon'; color:#000000;}

    /* section_2 */
.knw_section .body_section .section_2 {margin-top:20px;}
.knw_section .body_section .section_2 .my_act {background:#f8f8f8; border:1px solid #dddddd;}
.knw_section .body_section .section_2 .my_act > li {flex-basis:200px;}
.knw_section .body_section .section_2 .my_act > li > * {flex-basis:80px;}
.knw_section .body_section .section_2 .my_act .this_year {padding:20px 20px; background:#e2eff9; border-right:1px solid #dddddd;}
.knw_section .body_section .section_2 .my_act .this_year .section_tit {font-size:16px; font-weight:600; line-height:1.2; color:#0064a2;}
.knw_section .body_section .section_2 .my_act .this_year .years {font-size:14px; color:#999999;}
.knw_section .body_section .section_2 .my_act > li:not(.this_year) {padding:15px;}
.knw_section .body_section .section_2 .my_act > li:not(.this_year) .left .tit {font-size:15px; font-weight: 600; color:#1e1e1e; word-break: keep-all;}
.knw_section .body_section .section_2 .my_act > li:not(.this_year) .left button {width:80px; height:28px; background:#2d8fd5; font-size:14px; color:#ffffff;}
.knw_section .body_section .section_2 .my_act > li:not(.this_year) .left button a {font-size:14px; color:#ffffff;}
.knw_section .body_section .section_2 .my_act > li:not(.this_year) .right li {width: 80px; height:50px; padding:8px; border:1px solid #dddddd; border-radius:5px; background:#ffffff; }
.knw_section .body_section .section_2 .my_act > li:not(.this_year) .right li:only-child {height:100%; justify-content:center;}
.knw_section .body_section .section_2 .my_act > li:not(.this_year) .right li div {font-size:12px; line-height:15px;}
.knw_section .body_section .section_2 .my_act > li:not(.this_year) .right li .count span {font-size:18px; font-weight: 600; color:#2d8fd5;}

    /* section_3 */
.knw_section .body_section .section_3 {margin-top:20px;}
.knw_section .body_section .section_3 .main_cont_box_header {height:50px; padding:0 20px; background:#f8f8f8;}
.knw_section .body_section .section_3 .main_cont_box_header .tit {font-size:15px; color:#0054a2;}
.knw_section .body_section .section_3 .main_cont_box_header i {font-size:18px; color:#b7b7b7;}
.knw_section .body_section .section_3 > div {flex-basis:590px; max-width:590px; border:1px solid #dddddd; border-top:1px solid #4b5462;}
.knw_section .body_section .section_3 .pup_knwlg .main_cont_box_header .tit {flex-grow:1;}
.knw_section .body_section .section_3 .pup_knwlg .main_cont_box_header select {width:100px; height:32px; border:1px solid #dddddd; border-radius: 0; font-size:14px; color:#666666; cursor:pointer;}
.knw_section .body_section .section_3 .pup_knwlg .main_cont_box_header select option {font-size:14px;}
.knw_section .body_section .section_3 .pup_knwlg .main_cont_box_header button {margin-left:20px;}
    
    /* section_4 */
.knw_section .body_section .section_4 {margin-top:20px; margin-bottom:20px;}
.knw_section .body_section .section_4 .main_cont_box_header {height:50px; padding:0 20px;}
.knw_section .body_section .section_4 .main_cont_box_header .tit {font-size:15px; color:#0054a2;}
.knw_section .body_section .section_4 .main_cont_box_header i {font-size:18px; color:#b7b7b7;}
.knw_section .body_section .section_4 > div {flex-basis:590px;}
.knw_section .body_section .section_4 .knw_join {border-top:1px solid #4b5462;}
.knw_section .body_section .section_4 .knw_join ul li {flex-basis:190px; border:1px solid #dddddd; cursor: pointer;}
.knw_section .body_section .section_4 .knw_join ul li .cont_box {padding:20px;}
.knw_section .body_section .section_4 .knw_join ul li .cont_box .cate {width:64px; height:20px; font-size:13px; color:#ffffff; background:#606e79;}
.knw_section .body_section .section_4 .knw_join ul li .cont_box .contents {min-height:4rem; max-height:4rem; margin:10px 0; font-size:14px; color:#333333; white-space: normal; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.knw_section .body_section .section_4 .knw_join ul li .cont_box .reg_dt {font-size:14px; color:#999999;}
.knw_section .body_section .section_4 .knw_join ul li .icon_box {height: 30px; padding:0 20px; border-top:1px solid #dddddd; background: #f8f8f8;}
.knw_section .body_section .section_4 .knw_join ul li .icon_box i {margin-right:3px; font-size:14px;}
.knw_section .body_section .section_4 .knw_join ul li .icon_box > div:not(:last-child) {margin-right:10px;}
.knw_section .body_section .section_4 .knw_join ul li .icon_box .count {font-size:12px; color:#999999;}
.knw_section .body_section .section_4 .right_cont_box > div {flex-basis:285px; max-width: 285px; border:1px solid #dddddd; border-top:1px solid #4b5462;}
.knw_section .body_section .section_4 .right_cont_box .main_cont_box_header {height:50px; background:#f8f8f8;}
.knw_section .body_section .section_4 .right_cont_box .knw_sam nav {flex-basis:100%;}
.knw_section .body_section .section_4 .right_cont_box .exc_staff_list nav ul {padding-top:0; padding-bottom:0;}
.knw_section .body_section .section_4 .right_cont_box .exc_staff_list nav ul li div {font-size:14px; line-height: 14px;}
.knw_section .body_section .section_4 .right_cont_box .exc_staff_list nav ul li .name {display: flex; align-items:center; flex-basis:90px;}
.knw_section .body_section .section_4 .right_cont_box .exc_staff_list nav ul li .name img {width:18px; height:23px; margin-right:5px;}
.knw_section .body_section .section_4 .right_cont_box .exc_staff_list nav ul li .dept {display: flex; align-items:center; font-weight:400; color:#666666;}


/* 게시판 목록 공통 */
.knw_section .knwlg_board_list {margin-top:20px;}
.knw_section .board_list_section {margin-bottom:20px;}
.knw_section .board_list_section .list_header {margin-bottom:10px;}
.knw_section .board_list_section .list_header .count {align-self:flex-end; font-size:14px; color:#999999;}
.knw_section .board_list_section .list_header .count span {font-size:14px; color:#333333;}
.knw_section .board_list .table_type_01 {width:100%; border-top:2px solid #606e79; table-layout: fixed; border-collapse: collapse;}
.knw_section .board_list .table_type_01 th,
.knw_section .board_list .table_type_01 td {padding:5px 0; font-size:14px; text-align: center;}
.knw_section .board_list .table_type_01 th {padding:5px 0; border-bottom:1px solid #b7b7b7;}

/* 지식마당 */
.knw_section .knwlg_left {flex-basis:234px;}
.knw_section .knwlg_left ul {border:1px solid #dddddd;}
.knw_section .knwlg_left ul,.knw_section .knwlg_left ul li {flex-basis:100%;}
.knw_section .knwlg_left ul li {padding:13px 25px; background:#f8f8f8; cursor:pointer;}
.knw_section .knwlg_left ul li.active {background:#606e79;}
.knw_section .knwlg_left ul li.active span,
.knw_section .knwlg_left ul li.active i {color:#ffffff;}
.knw_section .knwlg_left ul li:not(:last-child) {border-bottom:1px solid #dddddd;}
.knw_section .knwlg_left ul .all_view span {font-size: 16px;}
.knw_section .knwlg_left ul li span {font-size: 15px;}
.knw_section .knwlg_left ul li i {font-size:20px;}

.knw_section .knwlg_right {flex-basis: 936px;}
.knw_section .knwlg_right .knwlg_tit {font-size:20px; font-weight: 800;}
.knw_section .knwlg_right .print {display:flex; justify-content:center; align-items:center; width: 40px; height:40px; border:1px solid #dddddd; background:#f8f8f8; cursor:pointer;}
.knw_section .knwlg_right .print i {font-size:20px; color:#999999;}
.knw_section .knwlg_right .knwlg_board_header {margin-bottom:20px;}
.knw_section .knwlg_right .search_form {flex-basis:100%; margin-bottom:30px; border-top:2px solid #4b5462;}
.knw_section .knwlg_right .search_form table {table-layout: fixed; border-collapse:collapse;}
.knw_section .knwlg_right .search_form table tr {border-bottom:1px solid #dddddd;}
.knw_section .knwlg_right .search_form table tr th {padding:0 20px; border-right:1px solid #dddddd; background:#f8f8f8; font-size:14px; font-weight:600; color:#333333; text-align:left;}
.knw_section .knwlg_right .search_form table tr td {height:45px; padding:0 12px;}
.knw_section .knwlg_right .search_form table tr td input.type_1 {width:450px; height: 36px; padding:0 10px; border:1px inset #dddddd; border-radius: 0; font-size:14px;}
.knw_section .knwlg_right .search_form table tr td input.type_1::placeholder {font-size:14px; color:#dddddd;}
.knw_section .knwlg_right .search_form table tr td input.type_1:focus,
.knw_section .knwlg_right .search_form table tr td input.type_1:active {outline:none;}
.knw_section .knwlg_right .search_form table tr td .dept_popup {margin-left:12px;}
.knw_section .knwlg_right .search_form table tr td .select_type {width:140px; height: 36px; margin-right:4px; border:1px inset #dddddd; border-radius: 0; font-size:14px;}
.knw_section .knwlg_right .search_form table tr td .select_type option {font-size:14px;}
.knw_section .knwlg_right .search_form table tr td .search_btn {display:inline-block; width:80px; height:36px; margin-left:4px; font-size:14px; color:#ffffff; background:#0064a2;}
.knw_section .knwlg_right .search_form table tr td .reset_btn {display:inline-block; width:80px; height:36px; margin-left:4px; font-size:14px; color:#ffffff; background:#606e79;}

.knw_section .knwlg_right .board_list_section {margin-bottom:20px;}
.knw_section .knwlg_right .board_list_section .list_header {margin-bottom:10px;}
.knw_section .knwlg_right .board_list_section .list_header .count {align-self:flex-end; font-size:14px; color:#999999;}
.knw_section .knwlg_right .board_list_section .list_header .count span {font-size:14px; color:#333333;}
.knw_section .knwlg_right .board_list_section .table_type_01 {width:100%; border-top:2px solid #606e79; table-layout: fixed; border-collapse: collapse;}
.knw_section .knwlg_right .board_list_section .table_type_01 th,
.knw_section .knwlg_right .board_list_section .table_type_01 td {padding:5px 0; font-size:14px; text-align: center;}
.knw_section .knwlg_right .board_list_section .table_type_01 th {padding:5px 0; border-bottom:1px solid #b7b7b7;}
.knw_section .knwlg_right .board_list_section .table_type_01 tbody tr {border-bottom:1px solid #dddddd;}
.knw_section .knwlg_right .board_list_section .table_type_01 tbody tr td {color:#999999;}
.knw_section .knwlg_right .board_list_section .table_type_01 tbody tr td input[type="checkbox"] {cursor: pointer;}
.knw_section .knwlg_right .board_list_section .table_type_01 tbody tr .list_mark {position:relative; color:#333333;}
.knw_section .knwlg_right .board_list_section .table_type_01 tbody tr .list_mark input[type="checkbox"] {opacity: 0;}
.knw_section .knwlg_right .board_list_section .table_type_01 tbody tr .list_mark input[type="checkbox"] + label {color:#ffffff; position:absolute; font-size:15px; left:25%; cursor: pointer; text-shadow: 0px 0px 1px #000000;}
.knw_section .knwlg_right .board_list_section .table_type_01 tbody tr .list_mark input[type="checkbox"]:checked + label {color:#0064a2;}
.knw_section .knwlg_right .board_list_section .table_type_01 tbody tr .list_tit {color:#333333; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;}

.knw_section .knwlg_right .board_list_section .table_type_01 tbody tr:hover > .list_tit {font-weight: 600;}

/* 권익지식 이음터 */
.knw_section .knw_top_list {margin-bottom:30px;}
.knw_section .knw_top_list .top_list_tit {margin-bottom:10px; font-size:15px;}
.knw_section .knw_top_list .knw_join_list li {flex-basis:380px; max-width:380px; max-height: 140px; padding:20px 25px; border:1px solid #dddddd; cursor:pointer;}
.knw_section .knw_top_list .knw_join_list li::before {content:''; position:absolute; width:32px; height:32px; top:-1px; right:20px; background:#0064a2; color:#ffffff; text-align: center;}
.knw_section .knw_top_list .knw_join_list .top_1::before {content:'1';}
.knw_section .knw_top_list .knw_join_list .top_2::before {content:'2';}
.knw_section .knw_top_list .knw_join_list .top_3::before {content:'3';}
.knw_section .knw_top_list .knw_join_list li::after {content:''; position: absolute; top:21px; right:20px; border-top:5px solid rgba(0,0,0,0); border-left:16px solid rgba(0,0,0,0); border-right:16px solid rgba(0,0,0,0); border-bottom:5px solid #ffffff;}
.knw_section .knw_top_list .knw_join_list li .cate {flex-basis:64px; width:64px; height:20px; margin-bottom:10px; background:#606e79; font-size:13px; color:#ffffff;}
.knw_section .knw_top_list .knw_join_list li .tit {width:100%; margin-bottom:10px; font-size:14px; font-weight: 500; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}
.knw_section .knw_top_list .knw_join_list li .contents {display:-webkit-box; width:100%; height:3em; min-height:3em; font-size:14px; font-weight: 300; color:#999999; white-space:normal; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.knw_section.knw_join_section .search_form {margin-bottom:30px;}
.knw_section.knw_join_section .search_form input[type="radio"] {width: 16px; height:16px;}
.knw_section.knw_join_section .search_form input[type="radio"] + label {position:relative; padding-left:5px; margin-right:20px; font-size:14px; cursor:pointer;}
.knw_section.knw_join_section .search_form input[type="checkbox"] {width: 16px; height:16px;}
.knw_section.knw_join_section .search_form input[type="checkbox"] + label {padding-left:5px; margin-right:20px; font-size:14px; cursor:pointer;}
.knw_section.knw_join_section .knw_join_board_list li {flex-basis:100%; margin-bottom:10px; border:1px solid #dddddd;  cursor:pointer;}
.knw_section.knw_join_section .knw_join_board_list li:last-child {margin-bottom:30px;}
.knw_section.knw_join_section .knw_join_board_list li .cont_box {flex-basis:100%; max-width:1200px; padding:23px 25px 25px;}
.knw_section.knw_join_section .knw_join_board_list li .cont_box .cate {display:flex; justify-content:center; align-items:center; width:64px; height:20px; margin-bottom:10px; background:#606e79; font-size:13px; color:#ffffff;}
.knw_section.knw_join_section .knw_join_board_list li .cont_box .tit {flex-basis:100%; margin-bottom:10px; font-size:14px; font-weight: 600; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}
.knw_section.knw_join_section .knw_join_board_list li .cont_box .contents {font-size:14px; font-weight: 300; color:#999999; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}
.knw_section.knw_join_section .knw_join_board_list li .board_info {flex-basis:100%; height:40px; padding:0 25px; border-top:1px solid #dddddd; background:#f8f8f8;}
.knw_section.knw_join_section .knw_join_board_list li .board_info > div {flex-basis:50%;}
.knw_section.knw_join_section .knw_join_board_list li .board_info .writer {flex-basis:85px; font-size:14px; color:#666666;}
.knw_section.knw_join_section .knw_join_board_list li .board_info .reg_dt {font-size:14px; font-weight: 300; color:#999999;}
.knw_section.knw_join_section .knw_join_board_list li .board_info .right i {margin-right:5px; font-size:14px;}
.knw_section.knw_join_section .knw_join_board_list li .board_info .right div:not(:last-child) {margin-right:15px;}
.knw_section.knw_join_section .knw_join_board_list li .board_info .right div > p {font-size:12px; color:#999999;}
.knw_section.knw_join_section .knw_join_board_list li .board_info .right div p span {font-size:14px; font-weight:500; color:#666666;}
.knw_section.knw_join_section .knw_join_board_list li .board_info .right .like i {color:#3ca2ae;}
.knw_section.knw_join_section .knw_join_board_list li .board_info .right .cmt i {color:#0064a2;}
.knw_section.knw_join_section .knw_join_board_list li .board_info .right .select i {color:#d9582b;}

/* 권익샘 */
.knw_section .knwlg_tit {font-size:20px; font-weight: 800;}
.knw_section .print {display:flex; justify-content:center; align-items:center; width: 40px; height:40px; border:1px solid #dddddd; background:#f8f8f8; cursor:pointer;}
.knw_section .print i {font-size:20px; color:#999999;}
.knw_section .knwlg_board_header {margin-bottom:20px;}
.knw_section .search_form {flex-basis:100%; margin-bottom:20px; border-top:2px solid #4b5462;}
.knw_section .search_form table {table-layout: fixed; border-collapse:collapse;}
.knw_section .search_form table tr {border-bottom:1px solid #dddddd;}
.knw_section .search_form table tr th {padding:0 20px; border-right:1px solid #dddddd; background:#f8f8f8; font-size:14px; font-weight:600; color:#333333; text-align:left;}
.knw_section .search_form table tr td {height:45px; padding:0 12px;}
.knw_section .search_form table tr td input.type_1 {width:620px; height: 36px; padding:0 10px; border:1px inset #dddddd; border-radius: 0; font-size:14px;}
.knw_section .search_form table tr td input.type_1::placeholder {font-size:14px; color:#dddddd;}
.knw_section .search_form table tr td input.type_1:focus,
.knw_section .search_form table tr td input.type_1:active {outline:none;}
.knw_section .search_form table tr td .dept_popup {margin-left:12px;}
.knw_section .search_form table tr td .select_type {width:140px; height: 36px; margin-right:4px; border:1px inset #dddddd; border-radius: 0; font-size:14px;}
.knw_section .search_form table tr td .select_type option {font-size:14px;}
/* .knw_section .knwlg_right .search_form table tr td button {} */
.knw_section .search_form table tr td .search_btn {display:inline-block; width:80px; height:36px; margin-left:4px; font-size:14px; color:#ffffff; background:#0064a2;}
.knw_section .search_form table tr td .reset_btn {display:inline-block; width:80px; height:36px; margin-left:4px; font-size:14px; color:#ffffff; background:#606e79;}

.knw_section .board_list .table_type_02 {width:100%; margin-bottom:20px; border-top:2px solid #606e79; table-layout: fixed; border-collapse: collapse;}
.knw_section .board_list .table_type_02 th,
.knw_section .board_list .table_type_02 td {padding:5px 0; font-size:14px; text-align: center;}
.knw_section .board_list .table_type_02 th {padding:5px 0; border-bottom:1px solid #b7b7b7;}
.knw_section .board_list .table_type_02 tbody tr {border-bottom:1px solid #dddddd;}
.knw_section .board_list .table_type_02 tbody tr td {color:#999999;}
.knw_section .board_list .table_type_02 tbody tr td input[type="checkbox"] {cursor: pointer;}
.knw_section .board_list .table_type_02 tbody tr .list_mark {position:relative; color:#333333;}
.knw_section .board_list .table_type_02 tbody tr .list_mark input[type="checkbox"] {opacity: 0;}
.knw_section .board_list .table_type_02 tbody tr .list_mark input[type="checkbox"] + label {color:#ffffff; position:absolute; font-size:15px; left:25%; cursor: pointer; text-shadow: 0px 0px 1px #000000;}
.knw_section .board_list .table_type_02 tbody tr .list_mark input[type="checkbox"]:checked + label {color:#0064a2;}
.knw_section .board_list .table_type_02 tbody tr .list_tit {color:#333333; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;}

/* 오프라인 활동등록 */
.off_act_info {border:4px solid #9a9a9a; border-image: repeating-linear-gradient(50deg, #9a9a9a, #ffffff, #9a9a9a 3px)5;}